#redp{
    color: red;
    text-align: right;
    font-family: 'Times New Roman', Times, serif;
}

.bluep{
    color: blue;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.green1{
    color: greenyellow;
    font-family:Georgia, 'Times New Roman', Times, serif;
}


.purplep{
    color: purple;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



#limediv{
    color: lime;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}