button{
    background-color: blueviolet;
}

p.goa{
    color: blue;
    text-align: center;
    background-color: black;
}

i{
    color: rgb(27, 170, 170);
}

#bluep{
    color: blue ;
}

#div1{
    color: blue;
    background-color: black;
    text-align: right;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
}

.div2{
    color: cadetblue;
    background-color: chocolate;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
}